<h1>Setting</h1>


<%= form_for @setting do |f| %>

<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :value %><br>
  <%= f.text_field :value %>
</p>

<p>
  <%= f.label :valueType %><br>
  <%= f.text_field :valueType %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>