<!DOCTYPE html>
<html>
<head>
  <title>Taskapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  <p><%= link_to "Projectsã¸", projects_path %></p>
  <p><%= link_to "Settingsã¸", settings_path %></p>
</footer>


</body>
</html>
